[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=brushSizeDocker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Brush Size Docker
Comment=Quickly and easily adjust the size of your brush in Krita using predefined size presets.
